<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>pan link</title>
	<link rel="stylesheet" th:href="@{/panstyle.css}" />
</head>
<body>
    <div id="header">
        <div class="clearfix">
            <div class="logo">
                <img src=""  th:src="LIC_LOGO.jpg" alt="LOGO" height="80" width="147">
            </div>
            <div class="navigation">
                Link Your <span>PAN</span> To Your LIC Policies With Digilocker<br />
            </div>
        </div>
    </div>
	  <div tabindex="0">
<div id="contents">
<div class="clearfix">
<div class="sidebar">&nbsp;</div>

<div class="main">
<h1>ATTENTION !</h1>

<ul class="news">
	<li>
	<div class="box">1</div>

	<h2><br />
	Keep your PAN card handy along with the list of policies.</h2>
	</li>
	<li>
	<div class="box">2</div>

	<h2>Mobile Number is to be entered.</h2>
	An OTP will be sent by LIC to the Mobile number entered.</li>
	<li>
	<div class="box">3</div>

	<h2>After submitting the form, a message will be shown on the success of the registration request.</h2>
	</li>
	<li>
	<div class="logo">
		<img src=""  th:src="digm.jpg"  height="35"  width="35" style=margin-left:40px;margin-top:15px;margin-right:0;>
	
	</div> 
	<div class="subscribe" ><a href="http://192.168.0.140:8090/getAuthenticate" 
	style=display:inline-block;margin-left:0;background-color:#3B47B1;width:200px;line-height:36px;margin-top:15px;color:white;>Fetch from Digilocker</a> </div> 
	<div class="subscribe"><a href="https://linkpan.licindia.in/UIDSeedingWebApp/getPolicyPANStatus" style=display:inline-block;background-color:#3B47B1;width:200px;line-height:36px;margin-top:15px;color:white;>Check policy PAN status</a>
	 </div>
	
	 <li>
	<div class="box">*</div>

	<h2 align="center">For DEMAT information, click on the following<br />
	<a class="subscribe" href="https://licindia.in/Home/Online-PAN-Registration/disclaimer" style=display:inline-block;background-color:#3B47B1;width:200px;line-height:36px;margin-top:5px;color:white;>PROCEED</a></h2>
	 </li>
	    
           
	
</ul>
</div>
</div>
</div>





    </div>
	<div id="footer">			
		<div id="footnote">
			<div class="clearfix">
					<p>Life Insurance Corporation of India - Corporate Office : Yogakshema Building, Jeevan Bima Marg, P.O. Box No - 19953, Mumbai - 400 021 IRDAI Reg No - 512.</p>
			</div>
		</div>
	</div>
</body>
</html>



